.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin:5rem;
    padding:10rem;
}

.row {
    border-radius:20px;
    font-family: 'Robotica';
    text-align: center; 
    margin-bottom:0.8rem;
}

.description, .contact-title {
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}


